li a {
    color: green;
}


a:hover {
	size: 200%;
	font-weight: bolder;
	color: midnightblue;
}

h1 {
	color: blue;
	background-color: orange;
	font-weight: bolder;
}

body {
	background: peachpuff url("images/abstract-background-20.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

